.spinner-container {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.spinner-container .spinner {
  width: 30%;
  height: auto;
}

.buy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #fafafa;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 30px;
}

.main-buy-container {
  text-decoration: none;
}

.main-buy-container :link {
  text-decoration: none;
}

.main-buy-container h3 {
  color: #ff00b3;
}

.box {
  background: #fafafa;
}

.box .inventory {
  height: 100%;
  width: 80vw;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-size: 20px;
}

.box .inventory .product {
  height: 500px;
  width: 450px;
  padding: 100px;
}

.box .inventory .product .product-list {
  height: 120%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .inventory .product .product-list img {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .inventory .product .product-list .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box .inventory .product .product-list .product-info .product-info-a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .inventory .product .product-list .product-info .product-cart-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.box .inventory .product .product-list .product-info .product-cart-options i {
  color: #ff00b3;
}

.box .inventory .product .product-list .product-info .product-cart-options input {
  width: 40%;
  color: #ff7b00;
  text-align: center;
}

.scrolling-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 30px 0 0;
  background: #fafafa;
}

.scrolling-cart .scrolling-cart-column {
  height: 42vh;
  width: 16vw;
  position: fixed;
  background: white;
  border: #ff00b3;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
}

.scrolling-cart .scrolling-cart-column button {
  height: 30px;
  width: 100px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
/*# sourceMappingURL=Buy.css.map */