.spinner-container {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.spinner-container .spinner {
  width: 30%;
  height: auto;
}

.buy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #fafafa;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 30px;
}

.main-buy-container {
  text-decoration: none;
}

.main-buy-container :link {
  text-decoration: none;
}

.main-buy-container h3 {
  color: #ff00b3;
}

.box {
  background: #fafafa;
}

.box .inventory {
  height: 100%;
  width: 80vw;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-size: 20px;
}

.box .inventory .product {
  height: 500px;
  width: 450px;
  padding: 70px;
  border-radius: 15px;
}

.box .inventory .product .product-list {
  height: 110%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid;
  border-color: orange;
  border-radius: 15px;
  border-width: 3px;
}

.box .inventory .product .product-list img {
  height: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .inventory .product .product-list .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box .inventory .product .product-list .product-info .product-info-a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .inventory .product .product-list .product-info .product-cart-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.box .inventory .product .product-list .product-info .product-cart-options i {
  color: #ff00b3;
}

.box .inventory .product .product-list .product-info .product-cart-options form {
  width: 80%;
}

.box .inventory .product .product-list .product-info .product-cart-options input {
  width: 80%;
  color: #ff7b00;
  text-align: center;
  font-size: 10px;
}

.scrolling-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 30px 0 0;
  background: #fafafa;
}

.scrolling-cart .scrolling-cart-column {
  height: 42vh;
  width: 16vw;
  position: fixed;
  background: white;
  border: #ff00b3;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.scrolling-cart .scrolling-cart-column h6 {
  font-size: 20px;
  padding: 5px 50px 20px 20px;
}

.scrolling-cart .scrolling-cart-column h5 {
  color: #ff00b3;
  font-size: 26px;
  padding: 5px 50px 20px 110px;
}

.scrolling-cart .scrolling-cart-column button {
  height: 30px;
  width: 300px;
  padding: 5px 50px 20px 700px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1550px) {
  .scrolling-cart .scrolling-cart-column h6 {
    font-size: 15px;
    padding: 5px 40px 20px 20px;
  }
}

@media (max-width: 1300px) {
  .box .inventory .product {
    padding: 95px;
    height: 400px;
    width: 400px;
  }
  .box .inventory .product .product-list {
    height: 145%;
    width: 95%;
  }
  .box .inventory .product .product-list .product-info .product-info-a {
    font-size: 14px;
  }
  .scrolling-cart .scrolling-cart-column h6 {
    font-size: 14px;
  }
}

@media (max-width: 1150px) {
  .box .inventory {
    padding-left: 10px;
  }
  .box .inventory .product {
    padding: 10px;
    height: 300px;
    width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box .inventory .product .product-list {
    height: 100%;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box .inventory .product .product-list img {
    width: 70%;
  }
  .box .inventory .product .product-list .product-info .product-info-a {
    font-size: 14px;
  }
  .scrolling-cart .scrolling-cart-column h5 {
    font-size: 20px;
    padding: 5px 50px 20px 45px;
  }
  .scrolling-cart .scrolling-cart-column h6 {
    font-size: 15px;
    padding: 5px 10px 10px 10px;
  }
}

@media (max-width: 975px) {
  .buy-container {
    font-size: 22px;
  }
  .box .inventory {
    padding-left: 0;
    width: 70vw;
  }
  .box .inventory .product {
    padding: 10px;
    height: 225px;
    width: 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box .inventory .product .product-list {
    height: 100%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box .inventory .product .product-list img {
    width: 50%;
  }
  .box .inventory .product .product-list .product-info .product-info-a {
    font-size: 12px;
  }
  .scrolling-cart .scrolling-cart-column {
    width: 24vw;
  }
}

@media (max-width: 800px) {
  .box .inventory {
    width: 66vw;
  }
  .box .inventory .product {
    padding: 30px;
    height: 300px;
    width: 400px;
  }
  .box .inventory .product .product-list img {
    width: 50%;
  }
  .scrolling-cart .scrolling-cart-column {
    width: 30vw;
    height: 30vh;
  }
  .scrolling-cart .scrolling-cart-column h6 {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .buy-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box .inventory {
    width: 56vw;
  }
  .box .inventory .product {
    padding: 20px;
    height: 250px;
    width: 300px;
  }
  .box .inventory .product .product-list img {
    width: 50%;
  }
  .scrolling-cart .scrolling-cart-column {
    width: 34vw;
  }
  .scrolling-cart .scrolling-cart-column h5 {
    font-size: 20px;
    padding: 5px 50px 20px 50px;
  }
  .scrolling-cart .scrolling-cart-column h6 {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .box .inventory {
    width: 50vw;
  }
  .box .inventory .product {
    padding: 10px;
    height: 200px;
    width: 225px;
  }
  .box .inventory .product .product-list img {
    width: 50%;
  }
  .scrolling-cart .scrolling-cart-column {
    width: 42vw;
  }
}

@media (max-width: 400px) {
  .box .inventory {
    width: 60vw;
  }
  .box .inventory .product {
    padding: 5;
    height: 175px;
    width: 200px;
  }
  .box .inventory .product .product-list img {
    width: 40%;
  }
  .scrolling-cart .scrolling-cart-column {
    width: 36vw;
  }
  .scrolling-cart .scrolling-cart-column h5 {
    font-size: 20px;
    padding: 5px 50px 10px 25px;
  }
  .scrolling-cart .scrolling-cart-column h6 {
    font-size: 10px;
    padding: 0 10px 10px 10px;
  }
  .scrolling-cart .scrolling-cart-column button {
    height: 30px;
    width: 250px;
    padding: 5px 50px 20px 700px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=Buy.css.map */