.cart-container {
  height: 100%;
  // height: 100%;
  width: 100vw;
  background: rgb(250, 250, 250);
  .mapped-cart {
    width: 80vw;
    height: 100%;
    // border: groove;
    // border-color: red;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .cart {
      height: 100%;
      width: 70vw;
      padding: 10px;
      // border: dashed;
      // border-color: blue;
      display: flex;
      .cart-list {
        height: 100%;
        width: 100%;
        padding: 10px;
        // border: dashed;
        // border-color: green;
        display: flex;
        .cart-list-a {
          height: 100%;
          width: 100%;
          // border: dashed;
          // border-color: purple;
          display: flex;
          justify-content: center;
          align-items: center;
          .delete-button {
            height: 45px;
            width: 100px;
            border-radius: 5px;
            color: white;
            background-color: red;
          }
          .cart-img-name-price {
            width: 20%;
            height: 100%;
            // border: dashed;
            // border-color: black;
            img {
              width: 20%;
              height: auto;
            }
          }
          .cart-quantity {
            width: 10%;
            // border: dashed;
            // border-color: orange;
          }
          .cart-options {
            width: 20%;
            // border: dashed;
            // border-color: red;
            .cart-form {
              .cart-input {
                width: 30%;
              }
            }
          }
          .cart-total {
            width: 15%;
            display: flex;
            // border: groove;
            // border-color: greenyellow;
          }
        }
      }
    }
  }
}
