$primaryColor: orange;

nav {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

a {
  height: 100%;
}

img {
  height: 20vh;
}

.link_wrap {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 25px;
  color: $primaryColor;
}

.fas.fa-chevron-down.fa-xs {
  color: $primaryColor;
  padding: 2px 0 2px 8px;
}

i {
  color: $primaryColor;
}
