.sideDrawer-link-wrap {
  height: 10vh;
  width: 100vw;
  // position: fixed;
  overflow: hidden;
  z-index: 6;
  background: white;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  opacity: 97%;
  // transform: translate(-5%, -10%);
  // transition: all 2s ease-in-out;

  .sideDrawer-links {
    text-decoration: none;
    color: orange;
  }
  .sideDrawer-links:hover {
    color: rgba(247, 65, 141, 0.966);
  }
}

@media (max-width: 900px) {
  .sideDrawer-link-wrap {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .sideDrawer-link-wrap {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .sideDrawer-link-wrap {
    padding-top: 15px;
    padding-right: 55px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .sideDrawer-link-wrap {
    padding-right: 35px;
  }
}
